<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
</head>
<body>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://covers.openlibrary.org/b/isbn/9780385533225-S.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title"th:text="${books.name}">Book Name></h1>
                <h2 class="card-text" th:text="${books.authorNames}">Author Name</h2>
                <h3 class="card-text" th:text="${books.description}">Book Description</h3>
                <h5 class="card-text">Published Date: <small class="text-muted " th:text="${books.publishedDate}">2022-03-20</small></h5>
            </div>
        </div>
    </div>
</div>

</body>
</html>